@import "../../mixins.scss";

html,
body {
  position: relative;
  height: 100%;
  // overflow-x: hidden;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

a {
  font-size: x-small;
}
p {
  font-size: small;
  letter-spacing: 1px;
  text-align: justify;
}

.hamburger-menu {
  display: none;

  @include respond(tab-port) {
    display: flex;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-2%, -50%);
    cursor: pointer;
    svg path {
      fill: #311e01 !important;
    }
  }
  @include respond(fifth-custom-brake) {
    width: 1rem;
    height: 1rem;
  }
}

.container-black {
  // border: 3px solid rgb(226, 1, 38);
  display: flex;
  justify-content: space-between;
  align-items: center;
  // align-self: center;
  // margin-top: 70px; original top margin before other pages
  margin-top: 42px;
  //  right: 50px;
  // position: absolute;
  position: relative;

  // width: 100%;

  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0);
  z-index: 100;

  @include respond(tab-port) {
    margin-top: 30px;
  }
  @include respond(phone) {
    margin-top: 10px;
  }
  @include respond(galaxy-fold) {
    margin-top: 10px;
  }
}

.logo-container-black {
  // border: 3px solid red!important;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -10px;
  left: 455px;

  max-width: 50px;
  max-height: 50px;
  margin-left: 1%;

  @include respond(forth-custom-brake) {
    margin-left: 25px;
  }
  @include respond(fifth-custom-brake) {
    margin-left: 2%;
  }
}

.logo-container-black img {
  max-width: 50px;
  border: 1px solid black;

  @include respond(phone) {
    max-width: 50px;
  }
  @include respond(forth-custom-brake) {
    max-width: 30px;
  }
  @include respond(galaxy-fold) {
    max-width: 20px;
  }
}

.logo-container-black span {
  color: rgb(12, 12, 12);
  text-align: center;
  @include respond(phone) {
    display: none;
  }
}

.swiper-container {
  // border: 3px solid red;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.header {
  // border: 3px solid rgb(206, 5, 38);
  font-family: "Libre Caslon Display", serif;
  display: flex;
  flex-direction: column;
  letter-spacing: 3px;
  margin-top: 300px;
  margin-left: 270px;
  z-index: 9999;
  color: #fff;
  position: absolute;
  width: 520px;
  text-shadow: 3px 4px 7px rgb(0, 0, 0);

  @include respond(tab-land) {
    margin-top: 270px;
    margin-right: 170px;
  }
  @include respond(first-custom-brake) {
    margin-top: 175px;
    width: 400px;
  }

  @include respond(tab-port) {
    margin-top: 120px;
    margin-left: 15px;
    width: 310px;
    width: 46%;
    height: 16.875rem;
  }

  @include respond(third-custom-brake) {
    height: 210px;
    width: 49%;
    margin-left: 5px;
  }

  @include respond(phone) {
    z-index: 98;
    width: 90%;
    height: 12.875rem;
    left: 49%;
    // top: 50%;
    margin-top: -39px;
    // transform: translate(-50%, -165%);
    transform: translate(-50%, 50%);
    text-align: center;
    margin-left: 0;
  }
  @include respond(forth-custom-brake) {
    z-index: 98;
    width: 90%;
    height: 12.875rem;
    left: 49%;
    margin-top: -44px;
    transform: translate(-50%, 50%);
    text-align: center;
    margin-left: 0;
    height: 190px;
  }
  @include respond(fifth-custom-brake) {
    left: 50%;
    transform: translate(-50%, 50%);
    margin-top: -40px;
    height: 10.875rem;
  }
  @include respond(galaxy-fold) {
    margin-top: -35px;
    height: 8.875rem;
  }
}

.header h1 {
  margin-top: 3px;
  font-weight: 200;
  font-size: 3rem;
  letter-spacing: 2px;

  @include respond(tab-land) {
    font-size: 2.5rem;
  }
  @include respond(first-custom-brake) {
    font-size: 2.2rem;
  }
  @include respond(tab-port) {
    font-size: 2rem;
  }
  @include respond(third-custom-brake) {
    font-size: 1.3rem;
    margin-bottom: 0;
  }
  @include respond(phone) {
    font-size: 1.3rem;
  }
  @include respond(forth-custom-brake) {
    font-size: 1rem;
  }
  @include respond(fifth-custom-brake) {
    font-size: 0.8rem;
  }
  @include respond(galaxy-fold) {
    font-size: 0.7rem;
  }
}

.header h6 {
  font-weight: 100;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 4.5px;
  @include respond(third-custom-brake) {
    font-size: 0.4rem;
  }
  @include respond(fifth-custom-brake) {
    letter-spacing: 3px;
    @include respond(galaxy-fold) {
      display: none;
    }
  }
}
.header p {
  @include respond(fifth-custom-brake) {
    font-size: 0.7rem;
  }
  @include respond(galaxy-fold) {
    font-size: 0.6rem;
  }
}

.header-button {
  width: 130px;
  height: 40px;
  background: #b3a17d;
  color: #fff;
  // border: 1px solid #9c8a65;
  border: 1px solid #b3a17d;
  margin-top: 20px;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;

  &:hover {
    animation: none;
    background: #fff;
    color: #b3a17d;
    border: 1px solid #9c8a65;
  }

  @include respond(tab-land) {
    width: 90px;
    height: 30px;
    font-size: 0.6rem;
  }
  @include respond(third-custom-brake) {
    margin-top: 0;
  }
  @include respond(phone) {
    margin-top: 20px;
  }
  @include respond(forth-custom-brake) {
    width: 80px;
    height: 20px;
    font-size: 0.6rem;
    margin-top: 10px;
  }

  @include respond(galaxy-fold) {
    width: 60px;
    height: 20px;
    font-size: 0.4rem;
  }
}

.navlink {
  margin-left: 15px;
  align-items: center;
  text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
  font-size: 5rem;
  @include respond(galaxy-fold) {
    margin-left: 5px;
    font-size: 0.5rem;
  }
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #b3a17d;
  transition: width 0.4s;
  @include respond(phone) {
    background: #363130;
  }
}

.nav-link:hover:after {
  width: 100%;
  transition: width 0.4s;
}

.links {
  display: flex;
  @include respond(tab-port) {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 48%;
    height: 270px;
    background-color: #b3a17dd0;
    top: 90px;
    right: 3%;
    a {
      font-size: 1.2rem;
    }
  }
  // @include respond(second-custom-brake) {
  //   right: 3%;
  // }

  @include respond(third-custom-brake) {
    height: 210px;
    top: 90px;
    width: 48%;
    right: 2%;
    // right: 1.5%;
  }

  @include respond(phone) {
    width: 96%;
    height: 220px;
    top: 55px;
    background-color: #b3a17d;
    right: 2.5%;
    a {
      font-size: 1.2rem;
    }
  }

  @include respond(forth-custom-brake) {
    width: 96%;
    height: 210px;
    top: 41px;
    a {
      font-size: 0.8rem;
    }
  }
  @include respond(fifth-custom-brake) {
    width: 96%;
    height: 165px;
    top: 35px;
  }
  @include respond(galaxy-fold) {
    width: 96%;
    height: 140px;
    top: 27px;
    a {
      font-size: 0.7rem;
    }
  }
}

.nav-link-black {
  color: rgb(12, 12, 12);
  margin-left: 15px;
  align-items: center;
  text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
  @include respond(fifth-custom-brake) {
    margin-left: 5px;
    font-size: 0.5rem;
  }
}

.nav-link-black::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #b3a17d;
  transition: width 0.4s;
  @include respond(phone) {
    background: #363130;
  }
}

.nav-link-black:hover:after {
  width: 100%;
  transition: width 0.4s;
}

.links-black {
  display: flex;
  @include respond(tab-port) {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 98%;
    height: 276px;
    background-color: #b3a17d;
    top: 95px;
    right: 1.1%;
    a {
      font-size: 1.2rem;
    }
  }

  @include respond(third-custom-brake) {
    height: 281px;
    top: 92px;
    width: 97%;
    right: 1.5%;
  }

  @include respond(phone) {
    width: 98%;
    height: 280px;
    top: 83px;
    right: 1%;
    a {
      font-size: 1.2rem;
    }
  }

  @include respond(forth-custom-brake) {
    width: 99%;
    height: 210px;
    top: 42px;
    right: 0.5%;
    a {
      font-size: 0.8rem;
    }
  }
  @include respond(fifth-custom-brake) {
    width: 99%;
    height: 140px;
    top: 42px;
  }
  @include respond(galaxy-fold) {
    width: 98%;
    height: 140px;
    top: 42px;
    a {
      font-size: 0.7rem;
    }
  }
}

.left-navbar-container-black .desktop {
  a {
    color: #000;
  }
  margin-left: -180px;
  width: 310px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @include respond(first-custom-brake) {
    margin-left: -80px;
  }

  @include respond(tab-port) {
    display: none;
  }
}

.left-navbar-container .mobile {
  // background-color: red;
  display: none;
  @include respond(tab-port) {
    display: flex;
    flex-direction: column;
  }
}

.mobile-black {
  svg path {
    stroke: #b3a17dd0 !important;
  }
}

.left-navbar-container .desktop {
  @include respond(tab-port) {
    display: none;
  }
}

.right-navbar-container {
  // border: 3px solid rgb(175, 0, 108);
  margin-right: 140px;
  width: 310px;
  display: flex;

  @include respond(tab-port) {
    position: absolute;
    margin-left: 0px;
    margin-right: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
  }

  // @include respond(first-custom-brake) {
  //   margin-right: 10px;
  // }

  @include respond(forth-custom-brake) {
    width: 263px;
    margin-left: 15px;
  }
  @include respond(fifth-custom-brake) {
    // display: none;
    margin-left: 3px;
    width: 195px;
  }

  @include respond(galaxy-fold) {
    // display: none;
    margin-left: 3px;
    width: 200px;
  }
}

.phone-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  @include respond(fifth-custom-brake) {
    font-size: 0.8em;
  }
  @include respond(galaxy-fold) {
    font-size: 0.5em;
  }
}

.mail-container {
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include respond(fifth-custom-brake) {
    font-size: 0.8em;
  }
  @include respond(galaxy-fold) {
    padding-left: 0px;
    font-size: 0.5em;
  }
}

a {
  color: rgb(128, 0, 0);
}
