
#car2 {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: visible !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgba(255, 255, 255, 0);
  height: calc((100% - 30px) / 2) !important;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Car2 {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  height: 700px;
  margin-top: 100px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
  justify-content: center;
}
@media (max-width: 1015px) {
  .Car2 {
    max-width: 750px;
  }
}

.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 520px;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  justify-content: center;
}

.swiper-button {
  margin-top: -686px;
  margin-left: 850px;
  background: #1f7f9e;
  padding: 0px 8px;
  cursor: pointer;
  position: absolute;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #b3a17d;
  border-radius: 5%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.swiper-button:hover {
  background: #b3a17d;
}
.swiper-button:hover svg polyline {
  stroke: white;
}

.next {
  margin-top: -686px;
  margin-left: 950px;
  cursor: pointer;
  color: #fff;
  overflow: visible;
  z-index: 9999;
}
@media (max-width: 1015px) {
  .next {
    margin-left: 730px;
  }
}

.prev {
  overflow: visible;
  z-index: 9999;
}
@media (max-width: 1015px) {
  .prev {
    margin-left: 630px;
  }
}

svg polyline {
  stroke: #b3a17d;
  stroke-width: 3;
}

.swiper-slide .custom-slide-big {
  margin-top: auto;
  width: 100%;
  height: 130%;
  /* border-radius: 5px; */
  border-radius: 5px;
  overflow: visible;
  z-index: 9999;
}
@media (max-width: 1015px) {
  .swiper-slide .custom-slide-big {
    width: 80%;
    height: 110%;
  }
}

.swiper-slide .custom-slide-small {
  margin-top: auto;
  width: 100%;
  height: 70% !important;
  border-radius: 5px;
}
@media (max-width: 1015px) {
  .swiper-slide .custom-slide-small {
    width: 80%;
    height: 110%;
  }
}

.swiper-slide .custom-slide-small-upper {
  margin-bottom: auto;
  width: 100%;
  height: 70% !important;
  border-radius: 5px;
}
@media (max-width: 1015px) {
  .swiper-slide .custom-slide-small-upper {
    width: 80%;
    height: 110%;
  }
}

.swiper-slide .custom-slide-big-lower {
  margin-bottom: 76px;
  width: 100%;
  height: 130% !important;
  border-radius: 5px;
}
@media (max-width: 1015px) {
  .swiper-slide .custom-slide-big-lower {
    width: 80%;
    height: 110%;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-title {
  border: 3px solid cornflowerblue;
  max-width: 380px;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: rgb(0, 0, 0);
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: rgb(255, 255, 255);
  opacity: 1;
  margin-top: 130px;
}

/* target all bullets */
.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  opacity: 1;
  width: 0.8rem;
  height: 0.8rem;
  margin-top: 130px !important;
  top: 130px !important;
}

.swiper-pagination {
  bottom: 50px !important;
}

.slide-text-container {
  margin-top: 220px;
  margin-bottom: -80px;
  z-index: 9999;
  position: absolute;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  font-family: "Libre Caslon Display", serif;
  justify-content: flex-start;
  align-items: flex-start;
  width: 220px;
  text-shadow: 0 2px 0 black;
}

.down {
  margin-top: 70px;
}

.su {
  margin-bottom: 210px;
}

.bu {
  margin-top: 100px;
  margin-right: 80px;
}

.slide-text-container h2 {
  font-family: "Libre Caslon Display", serif;
  letter-spacing: 3px;
  margin: 0;
  text-align: left;
}

.slide-text-container svg {
  margin-right: 10px;
  font-weight: bolder;
}

.slide-text-container p {
  font-size: 16px;
  text-align: left;
  text-shadow: 0 1px 0 black;
  margin: -5px 0 0;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 640px) {
  .carousel-container {
    width: 640px;
  }
}
@media screen and (min-width: 768px) {
  .carousel-container {
    width: 768px;
  }
}
@media screen and (min-width: 1016px) {
  .carousel-container {
    width: 1016px;
  }
}/*# sourceMappingURL=car2.css.map */