@import '../../mixins.scss';

.top-to-btm {
  // height: 500px;
    position: relative;
  }

  .icon-position {
  position: fixed;
  bottom: 40px;
  right: 35px;
  z-index: 20;
  @include respond(tab-land) {
    right: 30px;
  }
  @include respond(third-custom-brake) {
    right: 30px;
    bottom: 45px;
    opacity: 0.5;
  }
  @include respond(third-custom-brake) {
    right: 10px;
  }
}
  .icon-style{
    stroke-width: 1;
    background-color: #b3a17d;
    border: 2px solid #fff;
    border-radius: 10%;
    padding: 10px;
    height: 50px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all .5s ease-in-out;
    @include respond(third-custom-brake) {
      padding: 0;
      height: 35px;
      width: 35px;
    }

  }
  .icon-style:hover{
    animation: none;
    background: #fff;
    color: #b3a17d;
    border: 2px solid #9c8a65;
  }



  // .icon-style svg path {
    
  //   height: 15rem!important;
  //   width: 15rem;
  // }

  // @keyframes movebtn {
  //   0%{
  //     transform: translateY(0px);
  //   }
  //   25%{
  //     transform: translateY(20px);
  //   }
  //   50%{
  //     transform: translateY(0px);
  //   }
  //   75%{
  //     transform: translateY(-20px);
  //   }
  //   100%{
  //     transform: translateY(0px);
  //   }
  // }
